<app-medical-worker-nav-bar></app-medical-worker-nav-bar>
<div class="main-page">
  <div class="title">
    <h1>SCHEDULE APPOINTMENTS</h1>
    <hr>
  </div>

  <div class="zakazi-termin-forma">
    <form [formGroup]="appointmentForm" (ngSubmit)="submitAppointment()">
      <h2>Personal Information</h2>
      <div class="personal-div">
        <div>
          <label>First name:</label>
          <input class="form-control" type="text" formControlName="firstName" required>
        </div>

        <div>
          <label>Last name:</label>
          <input class="form-control" type="text" formControlName="lastName" required>
        </div>

        <div>
          <label>Birth date:</label>
          <input class="form-control" type="date" formControlName="birthDate" required>
        </div>

        <div>
          <label>Gender:</label>
          <select class="form-control" formControlName="gender" required>
            <option>Female</option>
            <option>Male</option>
            <option>Other</option>
          </select>
        </div>

        <div>
          <label>Telephone number:</label>
          <input class="form-control" type="text" formControlName="telephoneNumber" required>
        </div>

        <div>
          <label>Address:</label>
          <input class="form-control" type="text" formControlName="address" required>
        </div>

        <div>
          <label>Country:</label>
          <input class="form-control" type="text" formControlName="country" required>
        </div>

        <div>
          <label>Allergies:</label>
          <input class="form-control" type="text" formControlName="allergies">
        </div>

        <div>
          <label>Emergency contact:</label>
          <input class="form-control" type="text" formControlName="emergencyContact">
        </div>
      </div>

      <div class="termin-div">
        <h2>Appointment</h2>
        <div>
          <label>Examination:</label>
          <select class="form-control" formControlName="examination" required>
            <option *ngFor="let exam of examinations" [value]="exam.examinationID">{{exam.name}}</option>
          </select>
        </div>

        <div>
          <label>Appointment date:</label>
          <input class="form-control" type="date" formControlName="appointmentDate" required>
        </div>


        <div>
          <label>Doctor:</label>
          <select class="form-control" formControlName="doctor" required>
            <option *ngFor="let doc of doctors" [value]="doc.doctorID">{{doc.name}}</option>
          </select>
        </div>

        <div>
          <label>Notes:</label>
          <textarea class="form-control" formControlName="notes"></textarea>
        </div>

        <button class="btn btn-success" type="submit">Submit Appointment</button>
      </div>
    </form>
  </div>
</div>
