<app-medical-worker-nav-bar></app-medical-worker-nav-bar>
<div class="main-page">
  <div class="title">
    <h1>SCHEDULED APPOINTMENTS</h1>
    <button type="button" id="zakaziTerminButton" class="btn btn-info" routerLink="">SCHEDULE APPOINTMENT</button>
    <hr>
  </div>

  <div class="search-div">
    <input class="search-input" placeholder="Enter your search">
    <button class="search-button"><i class="bi bi-search"></i></button>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Full name</th>
            <th scope="col">Examination</th>
            <th scope="col">Doctor</th>
            <th scope="col">Appointment Date</th>
            <th scope="col">Notes</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Min Yoongi</td>
            <td>Ultrazvuk</td>
            <td>Kim Seokjin</td>
            <td>13.06.2024</td>
            <td>ne znam sta da napisem</td>
            <td>
              <button type="button" class="btn btn-outline-success"><i class="bi bi-card-text"></i></button>
              <button type="button" class="btn btn-outline-danger"><i class="bi bi-x-circle-fill"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>



</div>


