body{
  margin:10px;
}

.main-page{
  margin-left: 20%;
}

h1{
  margin-top: 30px;
}

#zakaziTerminButton{
  margin-left: 70%;
  padding: 10px;
  border-radius: 10px;
}

.search-div{
  margin-left: 70%;
  margin-bottom: 5%;
}

.search-div input {
  background-color:#8EACCD;
  border: none;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
}

input::placeholder{
  color: black;
}


.custom-modal {
  max-height: 600px;
  overflow-y: auto;
}

.modal-dialog {
  margin: 1.75rem auto;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 10px;
  font-weight: 700;
  color: cornflowerblue;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  width: 50px;
  text-align: center;
  height: 40px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: cornflowerblue;
  color: whitesmoke;
}
