<app-medical-worker-nav-bar></app-medical-worker-nav-bar>
<div class="main-page">
  <div class="title">
    <h1>APPOINTMENTS</h1>
    <hr>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ime i prezime</th>
            <th scope="col">Vrsta pregleda</th>
            <th scope="col">Doktor</th>
            <th scope="col">Datum pregleda</th>
            <th scope="col">Napomena</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>

        </table>
      </div>
    </div>
  </div>

</div>
